.container{

  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;

}

.grid-container{

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 20px;

}


.header{

  display: flex;
  justify-content: space-between;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: rgba(0,0,0,.54);
  align-items: center;

}

:host ::ng-deep mat-paginator{

  display: inline-block;

}

mat-slide-toggle{

  align-self: center;
  margin-left: 10px;

}
